@model Tournament;
@{
    ViewData["Title"] = "SlotsView_CodeTube";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js"></script>
<link href="~/css/jquery.bracket.min.css" rel="stylesheet" />
<script src="~/js/jquery.bracket.min.js"></script>

@{ if (Model.IsAdmin)
    {
        <form asp-controller="Tourney" asp-action="Index">
            <label for="tournamentName">Tournament Name: </label>
            <input id="tournamentName" type="text" required />

            <button class="btn btn-info" onclick="SaveSlots()" type="submit">Save</button>
        </form>

        <div>
            <h3>Players</h3>
            <ul class="row">
                @{
                    if (Model.Players != null && Model.Players.Count > 0)
                    {
                        foreach (User user in Model.Players)
                        {
                            <li style="padding-bottom: .5em;">
                                @{if (Model.IsAdmin)
                                    {
                                        <form style="display:inline-block;" asp-controller="Tourney" asp-action="ReorderPlayers" method="get">
                                            <input type="number" name="id" value="@user.Id" hidden />
                                            <input type="number" name="goingUp" value="1" hidden />
                                            <button class="btn btn-info" type="submit">Move Up</button>
                                        </form>
                                        <form style="display:inline-block;" asp-controller="Tourney" asp-action="ReorderPlayers" method="get">
                                            <input type="number" name="id" value="@user.Id" hidden />
                                            <input type="number" name="goingUp" value="0" hidden />
                                            <button class="btn btn-info" type="submit">Move Down</button>
                                        </form>
                                    }
                                }
                                <span class="TourneyBrowseText">@user.FirstName @user.LastName</span>
                            </li>
                        }
                    }
                    else
                    {
                        <li>No players found.</li>
                    }
                }
            </ul>
        </div>
    }
    else
    {
        <div>
            <h2>@Model.TournamentName</h2>
        </div>
    }
}

<hr />

<div class="tournament"></div>

<script>
    function SaveSlots() {
        if ($("#tournamentName").val() != null && $("#tournamentName").val().length > 0) {
        $.ajax({
            url: "https://localhost:5001/tourney/savetournament",
            type: "PUT",
            dataType: "json",
            data: {
                TournamentName: $("#tournamentName").val(),
                TournamentStartDate: $("tournamentStartDate").val(),
                PlayersString: DoubleArrayToString(data.teams),
                ScoresString: DoubleArrayToString(data.results),
            },
        }).done(function (data) {
            console.log("Save success!");
        }).fail(function (xhr, status, error) {
            console.log(error);
        });
        }
    }

    let playersStr = "@Model.PlayersString";
    let scoresStr = "@Model.ScoresString";
    let players = CreateTeamsArray(playersStr);
    let scores = (scoresStr == null || scoresStr == "") ? CreateFreshScoresArray(playersStr.split(' ').length) : CreateScoresArray(scoresStr);
    let minData =
    {
        teams: players,
        results: scores,
    };

    $(".tournament").bracket(
        {
            skipConsolationRound: true,
            init: minData,
        });

    let data = $(".tournament").bracket("data");
</script>